<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="config.properties" />

	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="cacheEnabled" value="true" />
		<!-- <setting name="logImpl" value="LOG4J2" /> -->
		<setting name="logImpl" value="STDOUT_LOGGING" />
		<setting name="jdbcTypeForNull" value="NULL" />

		<!-- 关闭积极加载,也就是设置为按需要加载 -->
		<!-- <setting name="aggressiveLazyLoading" value="false" /> -->
	</settings>





	<plugins>
		<plugin
			interceptor="config.support.mybatis.PaginationInterceptor"></plugin>
	</plugins>

</configuration>